body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1972px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u45_div {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:2000px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u45 {
  position:absolute;
  left:0px;
  top:107px;
  width:172px;
  height:2000px;
}
#u46 {
  position:absolute;
  left:2px;
  top:992px;
  width:168px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:28px;
  height:30px;
}
#u47 {
  position:absolute;
  left:24px;
  top:138px;
  width:18px;
  height:20px;
}
#u48 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u49 {
  position:absolute;
  left:52px;
  top:138px;
  width:96px;
  height:20px;
  text-align:left;
}
#u50 {
  position:absolute;
  left:2px;
  top:2px;
  width:92px;
  word-wrap:break-word;
}
#u51_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:28px;
  height:30px;
}
#u51 {
  position:absolute;
  left:24px;
  top:168px;
  width:18px;
  height:20px;
}
#u52 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u53 {
  position:absolute;
  left:52px;
  top:168px;
  width:96px;
  height:20px;
  text-align:left;
}
#u54 {
  position:absolute;
  left:2px;
  top:2px;
  width:92px;
  word-wrap:break-word;
}
#u55_div {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:61px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u55 {
  position:absolute;
  left:0px;
  top:210px;
  width:172px;
  height:61px;
  font-size:20px;
}
#u55_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:61px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u55.mouseOver {
}
#u56 {
  position:absolute;
  left:2px;
  top:18px;
  width:168px;
  word-wrap:break-word;
}
#u57_div {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:62px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u57 {
  position:absolute;
  left:0px;
  top:271px;
  width:172px;
  height:62px;
  font-size:20px;
}
#u57_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:62px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u57.mouseOver {
}
#u58 {
  position:absolute;
  left:2px;
  top:18px;
  width:168px;
  word-wrap:break-word;
}
#u59_div {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:64px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u59 {
  position:absolute;
  left:0px;
  top:333px;
  width:172px;
  height:64px;
  font-size:20px;
}
#u59_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:64px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u59.mouseOver {
}
#u60 {
  position:absolute;
  left:2px;
  top:19px;
  width:168px;
  word-wrap:break-word;
}
#u62_div {
  position:absolute;
  left:0px;
  top:0px;
  width:2000px;
  height:107px;
  background:inherit;
  background-color:rgba(0, 102, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:left;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:2000px;
  height:107px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:left;
}
#u63 {
  position:absolute;
  left:2px;
  top:35px;
  width:1996px;
  word-wrap:break-word;
}
#u64_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:203px;
  height:5px;
}
#u64 {
  position:absolute;
  left:-28px;
  top:208px;
  width:200px;
  height:2px;
}
#u65 {
  position:absolute;
  left:2px;
  top:-7px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66_div {
  position:absolute;
  left:0px;
  top:0px;
  width:792px;
  height:363px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u66 {
  position:absolute;
  left:172px;
  top:107px;
  width:792px;
  height:363px;
}
#u67 {
  position:absolute;
  left:2px;
  top:173px;
  width:788px;
  word-wrap:break-word;
}
#u68_div {
  position:absolute;
  left:0px;
  top:0px;
  width:792px;
  height:192px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u68 {
  position:absolute;
  left:172px;
  top:470px;
  width:792px;
  height:192px;
}
#u69 {
  position:absolute;
  left:2px;
  top:88px;
  width:788px;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:154px;
  top:337px;
  width:18px;
  height:57px;
}
#u70_input {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:57px;
  background-color:#0099FF;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u70_input:disabled {
  color:grayText;
}
#u72 {
  position:absolute;
  left:182px;
  top:684px;
  width:772px;
  height:32px;
}
#u72_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:778px;
  height:38px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:777px;
  height:37px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:32px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:32px;
}
#u75 {
  position:absolute;
  left:2px;
  top:8px;
  width:150px;
  word-wrap:break-word;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:32px;
}
#u76 {
  position:absolute;
  left:154px;
  top:0px;
  width:154px;
  height:32px;
}
#u77 {
  position:absolute;
  left:2px;
  top:8px;
  width:150px;
  word-wrap:break-word;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:32px;
}
#u78 {
  position:absolute;
  left:308px;
  top:0px;
  width:154px;
  height:32px;
}
#u79 {
  position:absolute;
  left:2px;
  top:8px;
  width:150px;
  word-wrap:break-word;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:32px;
}
#u80 {
  position:absolute;
  left:462px;
  top:0px;
  width:154px;
  height:32px;
}
#u81 {
  position:absolute;
  left:2px;
  top:8px;
  width:150px;
  word-wrap:break-word;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:32px;
}
#u82 {
  position:absolute;
  left:616px;
  top:0px;
  width:156px;
  height:32px;
}
#u83 {
  position:absolute;
  left:2px;
  top:8px;
  width:152px;
  word-wrap:break-word;
}
