body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1972px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u230_div {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u230 {
  position:absolute;
  left:185px;
  top:135px;
  width:385px;
  height:52px;
}
#u231 {
  position:absolute;
  left:2px;
  top:18px;
  width:381px;
  word-wrap:break-word;
}
#u232_div {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u232 {
  position:absolute;
  left:185px;
  top:212px;
  width:385px;
  height:52px;
}
#u233 {
  position:absolute;
  left:2px;
  top:18px;
  width:381px;
  word-wrap:break-word;
}
#u234_div {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u234 {
  position:absolute;
  left:185px;
  top:291px;
  width:385px;
  height:52px;
}
#u235 {
  position:absolute;
  left:2px;
  top:18px;
  width:381px;
  word-wrap:break-word;
}
#u236_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u236 {
  position:absolute;
  left:614px;
  top:135px;
  width:151px;
  height:52px;
}
#u237 {
  position:absolute;
  left:2px;
  top:18px;
  width:147px;
  word-wrap:break-word;
}
#u238_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u238 {
  position:absolute;
  left:614px;
  top:212px;
  width:151px;
  height:52px;
}
#u239 {
  position:absolute;
  left:2px;
  top:18px;
  width:147px;
  word-wrap:break-word;
}
#u240_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u240 {
  position:absolute;
  left:614px;
  top:291px;
  width:151px;
  height:52px;
}
#u241 {
  position:absolute;
  left:2px;
  top:18px;
  width:147px;
  word-wrap:break-word;
}
#u242_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 51, 255, 1);
  -webkit-box-shadow:5px 5px 5px rgba(0, 51, 255, 1);
  box-shadow:5px 5px 5px rgba(0, 51, 255, 1);
}
#u242 {
  position:absolute;
  left:812px;
  top:135px;
  width:120px;
  height:52px;
}
#u242_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 51, 255, 1);
  -webkit-box-shadow:5px 5px 5px rgba(0, 51, 255, 1);
  box-shadow:5px 5px 5px rgba(0, 51, 255, 1);
}
#u242.mouseOver {
}
#u243 {
  position:absolute;
  left:2px;
  top:18px;
  width:116px;
  word-wrap:break-word;
}
#u244_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 51, 255, 1);
  -webkit-box-shadow:5px 5px 5px rgba(0, 51, 255, 1);
  box-shadow:5px 5px 5px rgba(0, 51, 255, 1);
}
#u244 {
  position:absolute;
  left:812px;
  top:212px;
  width:120px;
  height:52px;
}
#u244_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 51, 255, 1);
  -webkit-box-shadow:5px 5px 5px rgba(0, 51, 255, 1);
  box-shadow:5px 5px 5px rgba(0, 51, 255, 1);
}
#u244.mouseOver {
}
#u245 {
  position:absolute;
  left:2px;
  top:18px;
  width:116px;
  word-wrap:break-word;
}
#u246_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 51, 255, 1);
  -webkit-box-shadow:5px 5px 5px rgba(0, 51, 255, 1);
  box-shadow:5px 5px 5px rgba(0, 51, 255, 1);
}
#u246 {
  position:absolute;
  left:812px;
  top:291px;
  width:120px;
  height:52px;
}
#u246_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 51, 255, 1);
  -webkit-box-shadow:5px 5px 5px rgba(0, 51, 255, 1);
  box-shadow:5px 5px 5px rgba(0, 51, 255, 1);
}
#u246.mouseOver {
}
#u247 {
  position:absolute;
  left:2px;
  top:18px;
  width:116px;
  word-wrap:break-word;
}
#u249_div {
  position:absolute;
  left:0px;
  top:0px;
  width:2000px;
  height:107px;
  background:inherit;
  background-color:rgba(0, 102, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:left;
}
#u249 {
  position:absolute;
  left:0px;
  top:0px;
  width:2000px;
  height:107px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:left;
}
#u250 {
  position:absolute;
  left:2px;
  top:35px;
  width:1996px;
  word-wrap:break-word;
}
#u252_div {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:2000px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u252 {
  position:absolute;
  left:0px;
  top:107px;
  width:172px;
  height:2000px;
}
#u253 {
  position:absolute;
  left:2px;
  top:992px;
  width:168px;
  visibility:hidden;
  word-wrap:break-word;
}
#u254_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:28px;
  height:30px;
}
#u254 {
  position:absolute;
  left:24px;
  top:138px;
  width:18px;
  height:20px;
}
#u255 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u256_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u256 {
  position:absolute;
  left:52px;
  top:138px;
  width:96px;
  height:20px;
  text-align:left;
}
#u257 {
  position:absolute;
  left:2px;
  top:2px;
  width:92px;
  word-wrap:break-word;
}
#u258_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:28px;
  height:30px;
}
#u258 {
  position:absolute;
  left:24px;
  top:168px;
  width:18px;
  height:20px;
}
#u259 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u260_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u260 {
  position:absolute;
  left:52px;
  top:168px;
  width:96px;
  height:20px;
  text-align:left;
}
#u261 {
  position:absolute;
  left:2px;
  top:2px;
  width:92px;
  word-wrap:break-word;
}
#u262_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:203px;
  height:5px;
}
#u262 {
  position:absolute;
  left:-28px;
  top:208px;
  width:200px;
  height:2px;
}
#u263 {
  position:absolute;
  left:2px;
  top:-7px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u264_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:203px;
  height:5px;
}
#u264 {
  position:absolute;
  left:-28px;
  top:208px;
  width:200px;
  height:2px;
}
#u265 {
  position:absolute;
  left:2px;
  top:-7px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u266_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:203px;
  height:5px;
}
#u266 {
  position:absolute;
  left:-28px;
  top:252px;
  width:200px;
  height:2px;
}
#u267 {
  position:absolute;
  left:2px;
  top:-7px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u268_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u268 {
  position:absolute;
  left:59px;
  top:220px;
  width:54px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u269 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
