body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u19_div {
  position:absolute;
  left:0px;
  top:0px;
  width:2000px;
  height:107px;
  background:inherit;
  background-color:rgba(0, 102, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:left;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:2000px;
  height:107px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:left;
}
#u20 {
  position:absolute;
  left:2px;
  top:35px;
  width:1996px;
  word-wrap:break-word;
}
#u21_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:2000px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21 {
  position:absolute;
  left:0px;
  top:107px;
  width:105px;
  height:2000px;
}
#u22 {
  position:absolute;
  left:2px;
  top:992px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:435px;
  top:137px;
  width:252px;
  height:20px;
}
#u23_input {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u24 {
  position:absolute;
  left:435px;
  top:182px;
  width:252px;
  height:20px;
}
#u24_input {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u25_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25 {
  position:absolute;
  left:361px;
  top:137px;
  width:65px;
  height:20px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u27_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27 {
  position:absolute;
  left:361px;
  top:182px;
  width:65px;
  height:20px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:435px;
  top:233px;
  width:252px;
  height:20px;
}
#u29_input {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u30_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30 {
  position:absolute;
  left:332px;
  top:233px;
  width:94px;
  height:20px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:435px;
  top:284px;
  width:252px;
  height:20px;
}
#u32_input {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u33 {
  position:absolute;
  left:435px;
  top:329px;
  width:252px;
  height:20px;
}
#u33_input {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u34_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34 {
  position:absolute;
  left:361px;
  top:284px;
  width:65px;
  height:20px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u36_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u36 {
  position:absolute;
  left:332px;
  top:329px;
  width:94px;
  height:20px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  word-wrap:break-word;
}
#u38_div {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38 {
  position:absolute;
  left:279px;
  top:377px;
  width:147px;
  height:20px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  word-wrap:break-word;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:151px;
}
#u40 {
  position:absolute;
  left:435px;
  top:377px;
  width:282px;
  height:151px;
}
#u41 {
  position:absolute;
  left:2px;
  top:68px;
  width:278px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:5px 5px 5px rgba(0, 51, 255, 1);
  -webkit-box-shadow:5px 5px 5px rgba(0, 51, 255, 1);
  box-shadow:5px 5px 5px rgba(0, 51, 255, 1);
}
#u42 {
  position:absolute;
  left:482px;
  top:570px;
  width:117px;
  height:32px;
}
#u42_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 102, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:5px 5px 5px rgba(0, 51, 255, 1);
  -webkit-box-shadow:5px 5px 5px rgba(0, 51, 255, 1);
  box-shadow:5px 5px 5px rgba(0, 51, 255, 1);
}
#u42.mouseOver {
}
#u42_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 102, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:5px 5px 5px rgba(0, 51, 255, 1);
  -webkit-box-shadow:5px 5px 5px rgba(0, 51, 255, 1);
  box-shadow:5px 5px 5px rgba(0, 51, 255, 1);
}
#u42.mouseDown {
}
#u43 {
  position:absolute;
  left:2px;
  top:8px;
  width:113px;
  word-wrap:break-word;
}
