body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:435px;
  top:189px;
  width:252px;
  height:20px;
}
#u0_input {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1 {
  position:absolute;
  left:435px;
  top:234px;
  width:252px;
  height:20px;
}
#u1_input {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2 {
  position:absolute;
  left:361px;
  top:189px;
  width:65px;
  height:20px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u4_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4 {
  position:absolute;
  left:361px;
  top:234px;
  width:65px;
  height:20px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u6_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:5px 5px 5px rgba(0, 51, 255, 1);
  -webkit-box-shadow:5px 5px 5px rgba(0, 51, 255, 1);
  box-shadow:5px 5px 5px rgba(0, 51, 255, 1);
}
#u6 {
  position:absolute;
  left:396px;
  top:356px;
  width:117px;
  height:32px;
}
#u6_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 102, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:5px 5px 5px rgba(0, 51, 255, 1);
  -webkit-box-shadow:5px 5px 5px rgba(0, 51, 255, 1);
  box-shadow:5px 5px 5px rgba(0, 51, 255, 1);
}
#u6.mouseOver {
}
#u6_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 102, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:5px 5px 5px rgba(0, 51, 255, 1);
  -webkit-box-shadow:5px 5px 5px rgba(0, 51, 255, 1);
  box-shadow:5px 5px 5px rgba(0, 51, 255, 1);
}
#u6.mouseDown {
}
#u7 {
  position:absolute;
  left:2px;
  top:8px;
  width:113px;
  word-wrap:break-word;
}
#u8_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:5px 5px 5px rgba(0, 51, 255, 1);
  -webkit-box-shadow:5px 5px 5px rgba(0, 51, 255, 1);
  box-shadow:5px 5px 5px rgba(0, 51, 255, 1);
}
#u8 {
  position:absolute;
  left:575px;
  top:356px;
  width:117px;
  height:32px;
}
#u8_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 102, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:5px 5px 5px rgba(0, 51, 255, 1);
  -webkit-box-shadow:5px 5px 5px rgba(0, 51, 255, 1);
  box-shadow:5px 5px 5px rgba(0, 51, 255, 1);
}
#u8.mouseOver {
}
#u8_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 102, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:5px 5px 5px rgba(0, 51, 255, 1);
  -webkit-box-shadow:5px 5px 5px rgba(0, 51, 255, 1);
  box-shadow:5px 5px 5px rgba(0, 51, 255, 1);
}
#u8.mouseDown {
}
#u9 {
  position:absolute;
  left:2px;
  top:8px;
  width:113px;
  word-wrap:break-word;
}
#u10_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10 {
  position:absolute;
  left:381px;
  top:295px;
  width:53px;
  height:20px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:461px;
  top:288px;
  width:170px;
  height:27px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:27px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u12_input:disabled {
  color:grayText;
}
#u14_div {
  position:absolute;
  left:0px;
  top:0px;
  width:2000px;
  height:107px;
  background:inherit;
  background-color:rgba(0, 102, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:left;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:2000px;
  height:107px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:left;
}
#u15 {
  position:absolute;
  left:2px;
  top:35px;
  width:1996px;
  word-wrap:break-word;
}
#u16_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:2000px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16 {
  position:absolute;
  left:0px;
  top:107px;
  width:105px;
  height:2000px;
}
#u17 {
  position:absolute;
  left:2px;
  top:992px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
