body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1972px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u85_div {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:2000px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u85 {
  position:absolute;
  left:0px;
  top:107px;
  width:172px;
  height:2000px;
}
#u86 {
  position:absolute;
  left:2px;
  top:992px;
  width:168px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:28px;
  height:30px;
}
#u87 {
  position:absolute;
  left:24px;
  top:138px;
  width:18px;
  height:20px;
}
#u88 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u89 {
  position:absolute;
  left:52px;
  top:138px;
  width:96px;
  height:20px;
  text-align:left;
}
#u90 {
  position:absolute;
  left:2px;
  top:2px;
  width:92px;
  word-wrap:break-word;
}
#u91_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:28px;
  height:30px;
}
#u91 {
  position:absolute;
  left:24px;
  top:168px;
  width:18px;
  height:20px;
}
#u92 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u93 {
  position:absolute;
  left:52px;
  top:168px;
  width:96px;
  height:20px;
  text-align:left;
}
#u94 {
  position:absolute;
  left:2px;
  top:2px;
  width:92px;
  word-wrap:break-word;
}
#u96_div {
  position:absolute;
  left:0px;
  top:0px;
  width:2000px;
  height:107px;
  background:inherit;
  background-color:rgba(0, 102, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:left;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:2000px;
  height:107px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:left;
}
#u97 {
  position:absolute;
  left:2px;
  top:35px;
  width:1996px;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:15px;
  top:291px;
  width:142px;
  height:151px;
}
#u98_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:148px;
  height:157px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:156px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:30px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:30px;
}
#u101 {
  position:absolute;
  left:2px;
  top:6px;
  width:138px;
  word-wrap:break-word;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:31px;
}
#u102 {
  position:absolute;
  left:0px;
  top:30px;
  width:142px;
  height:31px;
}
#u103 {
  position:absolute;
  left:2px;
  top:7px;
  width:138px;
  word-wrap:break-word;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:30px;
}
#u104 {
  position:absolute;
  left:0px;
  top:61px;
  width:142px;
  height:30px;
}
#u105 {
  position:absolute;
  left:2px;
  top:6px;
  width:138px;
  word-wrap:break-word;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:30px;
}
#u106 {
  position:absolute;
  left:0px;
  top:91px;
  width:142px;
  height:30px;
}
#u107 {
  position:absolute;
  left:2px;
  top:6px;
  width:138px;
  word-wrap:break-word;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:30px;
}
#u108 {
  position:absolute;
  left:0px;
  top:121px;
  width:142px;
  height:30px;
}
#u109 {
  position:absolute;
  left:2px;
  top:6px;
  width:138px;
  word-wrap:break-word;
}
#u110_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:203px;
  height:5px;
}
#u110 {
  position:absolute;
  left:-28px;
  top:208px;
  width:200px;
  height:2px;
}
#u111 {
  position:absolute;
  left:2px;
  top:-7px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112_div {
  position:absolute;
  left:0px;
  top:0px;
  width:447px;
  height:32px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u112 {
  position:absolute;
  left:207px;
  top:320px;
  width:447px;
  height:32px;
  text-align:left;
}
#u113 {
  position:absolute;
  left:2px;
  top:8px;
  width:443px;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:207px;
  top:352px;
  width:447px;
  height:90px;
}
#u114_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:453px;
  height:96px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u115 {
  position:absolute;
  left:0px;
  top:0px;
  width:452px;
  height:95px;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:447px;
  height:30px;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:447px;
  height:30px;
  text-align:left;
}
#u117 {
  position:absolute;
  left:2px;
  top:6px;
  width:443px;
  word-wrap:break-word;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:447px;
  height:30px;
}
#u118 {
  position:absolute;
  left:0px;
  top:30px;
  width:447px;
  height:30px;
  text-align:left;
}
#u119 {
  position:absolute;
  left:2px;
  top:7px;
  width:443px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:447px;
  height:30px;
}
#u120 {
  position:absolute;
  left:0px;
  top:60px;
  width:447px;
  height:30px;
  text-align:left;
}
#u121 {
  position:absolute;
  left:2px;
  top:7px;
  width:443px;
  visibility:hidden;
  word-wrap:break-word;
}
#u122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:701px;
  height:32px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u122 {
  position:absolute;
  left:207px;
  top:117px;
  width:701px;
  height:32px;
  text-align:left;
}
#u123 {
  position:absolute;
  left:2px;
  top:8px;
  width:697px;
  word-wrap:break-word;
}
#u124 {
  position:absolute;
  left:207px;
  top:149px;
  width:706px;
  height:127px;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:30px;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:30px;
}
#u126 {
  position:absolute;
  left:2px;
  top:6px;
  width:171px;
  word-wrap:break-word;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:30px;
}
#u127 {
  position:absolute;
  left:175px;
  top:0px;
  width:175px;
  height:30px;
}
#u128 {
  position:absolute;
  left:2px;
  top:6px;
  width:171px;
  word-wrap:break-word;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:30px;
}
#u129 {
  position:absolute;
  left:350px;
  top:0px;
  width:175px;
  height:30px;
}
#u130 {
  position:absolute;
  left:2px;
  top:6px;
  width:171px;
  word-wrap:break-word;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:30px;
}
#u131 {
  position:absolute;
  left:525px;
  top:0px;
  width:176px;
  height:30px;
}
#u132 {
  position:absolute;
  left:2px;
  top:6px;
  width:172px;
  word-wrap:break-word;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:30px;
}
#u133 {
  position:absolute;
  left:0px;
  top:30px;
  width:175px;
  height:30px;
}
#u134 {
  position:absolute;
  left:2px;
  top:6px;
  width:171px;
  word-wrap:break-word;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:30px;
}
#u135 {
  position:absolute;
  left:175px;
  top:30px;
  width:175px;
  height:30px;
}
#u136 {
  position:absolute;
  left:2px;
  top:6px;
  width:171px;
  word-wrap:break-word;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:30px;
}
#u137 {
  position:absolute;
  left:350px;
  top:30px;
  width:175px;
  height:30px;
}
#u138 {
  position:absolute;
  left:2px;
  top:7px;
  width:171px;
  visibility:hidden;
  word-wrap:break-word;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:30px;
}
#u139 {
  position:absolute;
  left:525px;
  top:30px;
  width:176px;
  height:30px;
}
#u140 {
  position:absolute;
  left:2px;
  top:7px;
  width:172px;
  visibility:hidden;
  word-wrap:break-word;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:31px;
}
#u141 {
  position:absolute;
  left:0px;
  top:60px;
  width:175px;
  height:31px;
}
#u142 {
  position:absolute;
  left:2px;
  top:7px;
  width:171px;
  word-wrap:break-word;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:31px;
}
#u143 {
  position:absolute;
  left:175px;
  top:60px;
  width:175px;
  height:31px;
}
#u144 {
  position:absolute;
  left:2px;
  top:7px;
  width:171px;
  word-wrap:break-word;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:31px;
}
#u145 {
  position:absolute;
  left:350px;
  top:60px;
  width:175px;
  height:31px;
}
#u146 {
  position:absolute;
  left:2px;
  top:8px;
  width:171px;
  visibility:hidden;
  word-wrap:break-word;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:31px;
}
#u147 {
  position:absolute;
  left:525px;
  top:60px;
  width:176px;
  height:31px;
}
#u148 {
  position:absolute;
  left:2px;
  top:8px;
  width:172px;
  visibility:hidden;
  word-wrap:break-word;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:31px;
}
#u149 {
  position:absolute;
  left:0px;
  top:91px;
  width:175px;
  height:31px;
}
#u150 {
  position:absolute;
  left:2px;
  top:7px;
  width:171px;
  word-wrap:break-word;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:31px;
}
#u151 {
  position:absolute;
  left:175px;
  top:91px;
  width:175px;
  height:31px;
}
#u152 {
  position:absolute;
  left:2px;
  top:7px;
  width:171px;
  word-wrap:break-word;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:31px;
}
#u153 {
  position:absolute;
  left:350px;
  top:91px;
  width:175px;
  height:31px;
}
#u154 {
  position:absolute;
  left:2px;
  top:8px;
  width:171px;
  visibility:hidden;
  word-wrap:break-word;
}
#u155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:31px;
}
#u155 {
  position:absolute;
  left:525px;
  top:91px;
  width:176px;
  height:31px;
}
#u156 {
  position:absolute;
  left:2px;
  top:8px;
  width:172px;
  visibility:hidden;
  word-wrap:break-word;
}
#u157_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:203px;
  height:5px;
}
#u157 {
  position:absolute;
  left:-28px;
  top:252px;
  width:200px;
  height:2px;
}
#u158 {
  position:absolute;
  left:2px;
  top:-7px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u159_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u159 {
  position:absolute;
  left:59px;
  top:220px;
  width:54px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u160 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
